/******************************************************************************************************/
/***** PROJECT NAME		: NEXACRO DEFAULT THEME	********/
/***** CREATION DATES		: 2015.04.13		********/
/***** DRAFTER 			: TOBESOFT DESIGN TEAM	********/
/***** DISTRIBUTION DATE 	: 2015.00.00		********/
/******************************************************************************************************/
/****************************************** Top Farme Area ********************************************/
/* 1Depth Menu */
Button.btn_TF_Menu01
{
	background			: transparent;
	border				: 0 none;
	color				: #333333;
	font				: bold 12 Gulim;
	image				: URL('theme://images/btn_TF_Menu01.png');
	imagealign			: right middle;
}
Button.btn_TF_Menu01:mouseover, Button.btn_TF_Menu01:pushed, Button.btn_TF_Menu01:focused
{
	background			: transparent;
	border				: 0 none;
	color				: #111111;
	font				: bold 12 Gulim;
	image				: URL('theme://images/btn_TF_Menu01.png');
	imagealign			: right middle;
}
Button.btn_TF_Menu01:disabled
{
	background			: transparent;
	border				: 0 none;
	color				: #88909b;
	font				: bold 12 Gulim;
	image				: URL('theme://images/btn_TF_Menu01.png');
	imagealign			: right middle;
}
/*  1Depth Menu 선택 */
Button.btn_TF_Menu01S, Button.btn_TF_Menu01S:mouseover, Button.btn_TF_Menu01S:pushed, Button.btn_TF_Menu01S:focused
{
	background			: transparent;
	border				: 0 none;
	color				: #ea2932;
	font				: bold 12 Gulim;
	image				: URL('theme://images/btn_TF_Menu01.png');
	imagealign			: right middle;
	
	
}

/******************************************************************************************************/

/* 2Dpeth Menu */
Button.btn_TF_Menu02
{
	background			: transparent;
	border				: 0 none;
	color				: #a4a2a3;
	font				: bold 9 Gulim;
	align				: left middle;
	padding				: 1 0 0 20;	
}
Button.btn_TF_Menu02:mouseover, Button.btn_TF_Menu02:pushed, Button.btn_TF_Menu02:focused
{
	background			: URL('theme://images/btn_TF_Menu02.png') left middle;
	border				: 0 none;
	color				: #ffffff;
	font				: bold 9 Gulim;
	padding				: 1 0 0 20;
}
Button.btn_TF_Menu02:disabled
{
	background			: ransparent;
	border				: 0 none;
	color				: #582f0e;
	font				: bold 9 Gulim;
	padding				: 1 0 0 20;
}/* 2Depth Menu 선택 */
Button.btn_TF_Menu02S, Button.btn_TF_Menu02S:mouseover, Button.btn_TF_Menu02S:pushed, Button.btn_TF_Menu02S:focused
{
	background			: URL('theme://images/btn_TF_Menu02.png') left middle;
	border				: 0 none;
	color				: #ffffff;
	font				: bold 9 Gulim;
	padding				: 1 0 0 20;
	align				: left middle;
}
/******************************************************************************************************/

/* 1Dpeth Menu 이동 */
Button.btn_TF_Prev
{
	background			: URL('theme://images/btn_TF_Prev.png') center middle;
	border				: 0 none;
}
Button.btn_TF_Prev:mouseover, Button.btn_TF_Prev:pushed, Button.btn_TF_Prev:focused
{
	background			: URL('theme://images/btn_TF_Prev_O.png') center middle;
	border				: 0 none;	
}
Button.btn_TF_Prev:disabled
{
	background			: URL('theme://images/btn_TF_Prev_D.png') center middle;
	border				: 0 none;	
}
Button.btn_TF_Next
{
	background			: URL('theme://images/btn_TF_Next.png') center middle;
	border				: 0 none;
}
Button.btn_TF_Next:mouseover, Button.btn_TF_Next:pushed, Button.btn_TF_Next:focused
{
	background			: URL('theme://images/btn_TF_Next_O.png') center middle;
	border				: 0 none;	
}
Button.btn_TF_Next:disabled
{
	background			: URL('theme://images/btn_TF_Next_D.png') center middle;
	border				: 0 none;	
}
/******************************************************************************************************/

/* 2Dpeth Menu 이동 */
Button.btn_TF_Prev2
{
	background			: URL('theme://images/btn_TF_Prev2.png') center middle;
	border				: 0 none;
}
Button.btn_TF_Prev2:mouseover, Button.btn_TF_Prev2:pushed, Button.btn_TF_Prev2:focused
{
	background			: URL('theme://images/btn_TF_Prev2_O.png') center middle;
	border				: 0 none;	
}
Button.btn_TF_Prev2:disabled
{
	background			: URL('theme://images/btn_TF_Prev2_D.png') center middle;
	border				: 0 none;	
}
Button.btn_TF_Next2
{
	background			: URL('theme://images/btn_TF_Next2.png') center middle;
	border				: 0 none;
}
Button.btn_TF_Next2:mouseover, Button.btn_TF_Next2:pushed, Button.btn_TF_Next2:focused,Button.btn_TF_Next2:selected
{
	background			: URL('theme://images/btn_TF_Next2_O.png') center middle;
	border				: 0 none;
}
Button.btn_TF_Next2:disabled
{
	background			: URL('theme://images/btn_TF_Next2_D.png') center middle;
	border				: 0 none;
}
/******************************************************************************************************/

/* 로그아웃 */
Button.btn_TF_Logout
{
	align				: left middle;
	background			: URL('theme://images/sta_TF_logout.png') left middle;
	border				: 0 none;
	color				: #b2bcc2;
	font				: -12 Dotum;	
	padding				: 1 0 0 15;	
}
Button.btn_TF_Logout:mouseover, Button.btn_TF_Logout:pushed, Button.btn_TF_Logout:focused
{
	align				: left middle;
	background			: URL('theme://images/sta_TF_logout.png') left middle;
	border				: 0 none;
	color				: #b2bcc2;
	font				: -12 Dotum;	
	padding				: 1 0 0 15;
}
Button.btn_TF_Logout:disabled
{
	align				: left middle;
	background			: URL('theme://images/sta_TF_logout.png') left middle;
	border				: 0 none;
	color				: #edf4fc;
	font				: -12 Dotum;	
	padding				: 1 0 0 15;	
	opacity				: 50%;
}
/******************************************************************************************************/

/* 메뉴 Bg */
Static.sta_TF_Bg, Static.sta_TF_Bg:mouseover

{
	background			: @gradation;
	gradation			: linear 0,0 #f9f9f9 0,100 #d0d0d0;
	border				:  0 none, 0 none, 0 none, 0 none;
}
/******************************************************************************************************/

/* 로고 */
Static.sta_TF_Logo, Static.sta_TF_Logo:mouseover
{
	background			: URL('theme://images/sta_TF_Logo.png') left middle;	
}
/* 로고 Bg */
Static.sta_TF_Logobg, Static.sta_TF_Logobg:mouseover
{
	background			:@gradation;	
	gradation			: linear 0,0 #f9f9f9 0,100 #d0d0d0;
}
/******************************************************************************************************/

/***************************************** Bottom Farme Area ******************************************/
/* 사용자정보 */
Static.sta_BF_txt01, Static.sta_BF_txt01:mouseover
{
	color				: #dfdfdf;
	font				: bold -11 Dotum;
}
Static.sta_BF_txt02, Static.sta_BF_txt02:mouseover
{
	color				: #dfdfdf;
	font				: -11 Dotum;
}
Static.sta_BF_txt03, Static.sta_BF_txt03:mouseover
{
	color				: #aeaeae;
	font				: -11 Dotum;
}