/******************************************************************************************************/
/***** PROJECT NAME		: NEXACRO DEFAULT THEME	********/
/***** CREATION DATES		: 2015.04.13		********/
/***** DRAFTER 			: TOBESOFT DESIGN TEAM	********/
/***** DISTRIBUTION DATE 	: 2015.00.00		********/
/******************************************************************************************************/
/****************************************** Left Farme Area *******************************************/
/* 마이메뉴 */
Button.btn_LF_MyMenu
{
	background			: #5a676f;
	border				: 0 none, 1 solid #c4c7cc, 1 solid #c4c7cc, 1 solid #c4c7cc;
	bordertype			: normal 0 0;	
	font				: bold 9 Gulim;
	color				: #ffffff;
}
Button.btn_LF_MyMenu:mouseover
{
	background			: #e9eaec;
	border				: 0 none, 1 solid #c4c7cc, 1 solid #c4c7cc, 1 solid #c4c7cc;
	font				: bold 9 Gulim;
	color				: #343e48;	
}
Button.btn_LF_MyMenu:focused, Button.btn_LF_MyMenu:pushed
{
	background			: #ffffff;
	border				: 0 none, 1 solid #c4c7cc;
	font				: bold 9 Gulim;
	color				: #0065b3;	
}
Button.btn_LF_MyMenu:disabled
{
	background			: #e9f0f6;
	border				: 0 none, 1 solid #c4c7cc, 1 solid #c4c7cc, 1 solid #c4c7cc;
	font				: bold 9 Gulim;
	color				: #aebcc8;	
}
/* 마이메뉴 선택 */
Button.btn_LF_MyMenuS, Button.btn_LF_MyMenuS:mouseover, Button.btn_LF_MyMenuS:pushed, Button.btn_LF_MyMenuS:focused
{
	background			: #ffffff;
	border				: 0 none, 1 solid #c4c7cc;
	bordertype			: normal 0 0;	
	font				: bold 9 Gulim;
	color				: #333333;	
}
/******************************************************************************************************/

/* 메뉴 접기펴기 */
Button.btn_LF_Open, Button.btn_LF_Open:focused, Button.btn_LF_Open:mouseover, Button.btn_LF_Open:pushed
{
	background			: #d7262e;
	border				: 
	bordertype			: normal 0 0;
	image				: URL('theme://images/btn_LF_Open.png');
	imagealign			: center middle;	
}
Button.btn_LF_Open:disabled
{
	background			: #d7262e;
	border				: 
	bordertype			: normal 0 0;
	image				: URL('theme://images/btn_LF_Open_D.png');
	imagealign			: center middle;
}
Button.btn_LF_Close, Button.btn_LF_Close:focused, Button.btn_LF_Close:mouseover, Button.btn_LF_Close:pushed
{
	background			: #d7262e;
	border				: 
	bordertype			: normal 0 0;
	image				: URL('theme://images/btn_LF_Close.png');
	imagealign			: center middle;	
}
Button.btn_LF_Close:disabled
{
	background			: #d7262e;
	border				: 
	bordertype			: normal 0 0;
	image				: URL('theme://images/btn_LF_Close_D.png');
	imagealign			: center middle;
}
/********************************************************cel**********************************************/

/* 메뉴 그리드트리 */
Grid.grd_LF_Menu
{
	align				: center middle;
	background			: #ffffff;
	border				: 1 solid #e9e9e9, 1 solid #b1b5bb, 0 none, 1 solid #c4c7cc;
	bordertype			: normal 0 0;
	color				: #000000;
	font				: 9 Gulim;
	treeclosebuttonimage		: URL('theme://images/ico_tree.png');
	treecollapseimage		: ;
	treeexpandimage			: ;
	treeitemimage			: URL('theme://images/ico_treeitem.png');
	treeitemmargin			: 0 0 0 0;
	treelinetype			: 0 none;
	treeopenbuttonimage		: URL('theme://images/ico_tree.png');
}
Grid.grd_LF_Menu>#body
{
	background			: #ffffff;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: center middle;
	cellbackground			: #ffffff;
	cellbackground2			: #ffffff;
	cellcolor			: #444444;
	cellcolor2			: #444444;
	cellline			: 1 solid #f5f5f5, 0 none;
	cellpadding			: 0 0 0 8;
	selectbackground		: #343e48;
	selectborder			: 0 none;
	selectcolor			: #ffffff;
	selectfont			: 9 Gulim; 
	selectline			: 1 solid #fff0e3, 0 none;
}
Grid.grd_LF_Menu>#body:mouseover
{
	cellbackground			: #e9eaec;
	cellbackground2			: #e9eaec;
	cellcolor			: #111111;	
	cellline			: 1 solid #e0ebf9, 0 none;
	selectline			: 1 solid #fff0e3, 0 none;
	selectbackground		: #fff0e3;
	selectcolor			: #ffffff;			
}
/* 마이메뉴 그리드트리 */
Grid.grd_LF_MyMenu
{
	align				: center middle;
	background			: #ffffff;
	border				: 0 none, 1 solid #b1b5bb, 0 none, 1 solid #c4c7cc;
	bordertype			: normal 0 0;
	color				: #000000;
	font				: 9 Gulim;
}
Grid.grd_LF_MyMenu>#body
{
	background			: #ffffff;
	border				: 0 none;
	bordertype			: normal;
	cellalign			: center middle;
	cellbackground			: #ffffff00;
	cellbackground2			: #ffffff00;
	cellcolor			: #000000;
	cellcolor2			: #000000;
	cellline			: 1 solid #ffffff00;
	cellpadding			: 0 0 0 0;
	selectbackground		: #fff0e3;
	selectborder			: 0 none;
	selectcolor			: #000000;
	selectfont			: 9 Gulim; 
	selectline			: 1 solid #fff0e3, 1 solid #fff0e3, 1 solid #ffffff, 1 solid #fff0e3;
}
Grid.grd_LF_MyMenu>#body:mouseover
{
	cellbackground			: #e0ebf9;
	cellbackground2			: #e0ebf9;
	cellcolor			: #000000;	
	cellline			: 1 solid #e0ebf9, 1 solid #e0ebf9, 1 solid #ffffff, 1 solid #e0ebf9;
	selectline			: 1 solid #fff0e3, 1 solid #fff0e3, 1 solid #ffffff, 1 solid #fff0e3;
	selectbackground		: #fff0e3;
	selectcolor			: #000000;			
}
/* 그리드 트리 스크롤 */
Grid.grd_LF_Menu>#vscrollbar, Grid.grd_LF_Menu>#vscrollbar:disabled,
Grid.grd_LF_Menu>#hscrollbar, Grid.grd_LF_Menu>#hscrollbar:disabled,
Grid.grd_LF_MyMenu>#vscrollbar, Grid.grd_LF_MyMenu>#vscrollbar:disabled,
Grid.grd_LF_MyMenu>#hscrollbar, Grid.grd_LF_MyMenu>#hscrollbar:disabled
{
	background			: #ffffff;
	border				: 0 none, 0 none, 0 none, 1 solid #e9e9e9;
	scrollbarsize			: 12;	
	decbtnsize			: 0;
	incbtnsize			: 0;
}
Grid.grd_LF_Menu>#vscrollbar>#trackbar,
Grid.grd_LF_MyMenu>#vscrollbar>#trackbar
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Vscrollbar.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}
Grid.grd_LF_Menu>#vscrollbar>#trackbar:mouseover, Grid.grd_LF_Menu>#vscrollbar>#trackbar:pushed, 
Grid.grd_LF_MyMenu>#vscrollbar>#trackbar:mouseover, Grid.grd_LF_MyMenu>#vscrollbar>#trackbar:pushed
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Vscrollbar_O.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}
Grid.grd_LF_Menu>#vscrollbar>#trackbar:disabled,
Grid.grd_LF_MyMenu>#vscrollbar>#trackbar:disabled
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Vscrollbar_D.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}
Grid.grd_LF_Menu>#hscrollbar>#trackbar,
Grid.grd_LF_MyMenu>#hscrollbar>#trackbar
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Hscrollbar.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}
Grid.grd_LF_Menu>#hscrollbar>#trackbar:mouseover, Grid.grd_LF_Menu>#hscrollbar>#trackbar:pushed, 
Grid.grd_LF_MyMenu>#hscrollbar>#trackbar:mouseover, Grid.grd_LF_MyMenu>#hscrollbar>#trackbar:pushed
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Hscrollbar_O.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}
Grid.grd_LF_Menu>#hscrollbar>#trackbar:disabled,
Grid.grd_LF_MyMenu>#hscrollbar>#trackbar:disabled
{
	align				: center middle;
	background			: URL('theme://images/grd_LF_Hscrollbar_D.png') stretch 5,5;
	border				: 0 none;
	bordertype			: normal 0 0;
}

/* LeftFrame BG */
Static.sta_LF_Bg
{
	background			: #ffffff;
	border				: 0 none, 1 solid #b1b5bb, 0 none, 1 solid #c4c7cc;
	bordertype			: normal 0 0;
}