/******************************************************************************************************/
/***** PROJECT NAME		: NEXACRO DEFAULT THEME	********/
/***** CREATION DATES		: 2015.07.20		********/
/***** DRAFTER 			: TOBESOFT DESIGN TEAM	********/
/***** DISTRIBUTION DATE 	: 2015.00.00		********/
/******************************************************************************************************/
/*********************************************** MDI Area *********************************************/
/* mdi Spin BTN */
Button.btn_MDI_SpinUp
{
	background			: URL('theme://images/tab_MDI_spinup.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_SpinUp:mouseover, Button.btn_MDI_SpinUp:pushed, Button.btn_MDI_SpinUp:focused
{
	background			: URL('theme://images/tab_MDI_spinup_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_SpinUp:disabled
{
	background			: URL('theme://images/tab_MDI_spinup_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_SpinDown
{
	background			: URL('theme://images/tab_MDI_spindn.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_SpinDown:mouseover, Button.btn_MDI_SpinDown:pushed, Button.btn_MDI_SpinDown:focused
{
	background			: URL('theme://images/tab_MDI_spindn_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_SpinDown:disabled
{
	background			: URL('theme://images/tab_MDI_spindn_D.png') center middle;
	border				: 0 none;
}
/******************************************************************************************************/

/* mdi arrange BTN */
Button.btn_MDI_Arrgmax
{
	background			: URL('theme://images/btn_MDI_Arrgmax.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgmax:mouseover, Button.btn_MDI_Arrgmax:pushed, Button.btn_MDI_Arrgmax:focused
{
	background			: URL('theme://images/btn_MDI_Arrgmax_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgmax:disabled
{
	background			: URL('theme://images/btn_MDI_Arrgmax_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgcascd
{
	background			: URL('theme://images/btn_MDI_Arrgcascd.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgcascd:mouseover, Button.btn_MDI_Arrgcascd:pushed, Button.btn_MDI_Arrgcascd:focused
{
	background			: URL('theme://images/btn_MDI_Arrgcascd_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgcascd:disabled
{
	background			: URL('theme://images/btn_MDI_Arrgcascd_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgV
{
	background			: URL('theme://images/btn_MDI_ArrgV.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgV:mouseover, Button.btn_MDI_ArrgV:pushed, Button.btn_MDI_ArrgV:focused
{
	background			: URL('theme://images/btn_MDI_ArrgV_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgV:disabled
{
	background			: URL('theme://images/btn_MDI_ArrgV_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgH
{
	background			: URL('theme://images/btn_MDI_ArrgH.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgH:mouseover, Button.btn_MDI_ArrgH:pushed, Button.btn_MDI_ArrgH:focused
{
	background			: URL('theme://images/btn_MDI_ArrgH_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_ArrgH:disabled
{
	background			: URL('theme://images/btn_MDI_ArrgH_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgclsall
{
	background			: URL('theme://images/btn_MDI_Arrgclsall.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgclsall:mouseover, Button.btn_MDI_Arrgclsall:pushed, Button.btn_MDI_Arrgclsall:focused
{
	background			: URL('theme://images/btn_MDI_Arrgclsall_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Arrgclsall:disabled
{
	background			: URL('theme://images/btn_MDI_Arrgclsall_D.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Document
{
	background			: URL('theme://images/btn_MDI_Document.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Document:mouseover, Button.btn_MDI_Document:pushed, Button.btn_MDI_Document:focused
{
	background			: URL('theme://images/btn_MDI_Document_O.png') center middle;
	border				: 0 none;
}
Button.btn_MDI_Document:disabled
{
	background			: URL('theme://images/btn_MDI_Document_D.png') center middle;
	border				: 0 none;
}
/******************************************************************************************************/

/* mdi Bg */
Static.sta_MDI_Bg, Static.sta_MDI_Bg:mouseover
{
	background		: @gradation;
	gradation		: linear 0,0 #ffffff 0,100 #d8d8d8;		
}
/******************************************************************************************************/

/* mid BTN Line */
Static.sta_MDI_BtnLine, Static.sta_MDI_BtnLine:mouseover
{
	background		: #dedede;	
}
/******************************************************************************************************/

/* Tab */
Tab.tab_MDI_Mdi, Tab.tab_MDI_Mdi:mouseover
{
	background			: @gradation;
	gradation			: linear 0,0 #ffffff 0,100 #d8d8d8;
	border				: 1 solid #b1b5bb, 0 none, 0 none, 0 none;
	bordertype			: normal 0 0;
	buttonbackground		: @gradation;
	buttongradation			: linear 0,0 #ffffffff 0,100 #d8d8d8ff;
	buttonborder			: 1 solid #b1b5bb;
	buttonbordertype		: normal 0 0;
	buttonpadding			: 10 46 10 13;
	color				: #333333;
	font				: 9 Gulim;
	showextrabutton			: true;
}
Tab.tab_MDI_Mdi:pushed, Tab.tab_MDI_Mdi:focused, Tab.tab_MDI_Mdi:selected
{
	color				: #333333;
	border				: 1 solid #b1b5bb, 0 none, 0 none, 0 none;
	buttonbackground		: #ffffff;
	buttonborder 			: 1 solid #b1b5bb;
	buttonbordertype		: 1 solid #b1b5bb;
	buttonpadding			: 10 46 10 13;
}
Tab.tab_MDI_Mdi:disabled
{
	color				: #b1b5bb;
	buttonbordertype		: normal 0 0;
	buttonbackground		: @gradation;
	buttongradation			: linear 0,0 #ffffffff 0,100 #d8d8d8ff;
	buttonborder			: 1 solid #b1b5bb;
	buttonpadding			: 10 46 10 13;
	opacity				: 50%;
}
Tab.tab_MDI_Mdi>#spinupbutton
{
	background			: #ffffff00;
	border				: 0 none;
	bordertype			: normal 0 0;
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#spinupbutton:mouseover
{
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#spinupbutton:disabled
{
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#spindownbutton
{
	background			: #ffffff00;
	border				: 0 none;
	bordertype			: normal 0 0;
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#spindownbutton:mouseover
{
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#spindownbutton:disabled
{
	image				: ;
	imagealign			: center middle;
}
Tab.tab_MDI_Mdi>#extrabutton, Tab.tab_MDI_Mdi>#extrabutton:mouseover, Tab.tab_MDI_Mdi>#extrabutton:focused, Tab.tab_MDI_Mdi>#extrabutton:selected,
Tab>#extrabutton:pushed
{
	align				: center middle;
	background			: transparent;
	border				: 0 none;
	bordertype			: normal 0 0;
	image				: URL('theme://images/tab_MDI_extra.png');
	imagealign			: center middle;
}
Tab>#extrabutton:disabled
{
	align				: center middle;
	background			: transparent;
	border				: 0 none;
	bordertype			: normal 0 0;
	image				: URL('theme://images/tab_MDI_extra.png');
	imagealign			: center middle;
	opacity				: 50%;
}
/******************************************************************************************************/