/* tag Definition */

html, body { margin: 0; padding: 0; height:100%;}
address { font-style: normal; display: block; color: #575757;} /* 주소 */
cite { display: block; font-style: normal; }	/* 인용문 */
del { text-decoration: line-through; } /* 삭제 */
strong { font-weight: bold; } /* 강조 */
em { font-style: normal; } /* 강조 */
dfn { font-style: normal; } /* 정의 - 용어설명 */
cite { font-style: normal; } /* 인용출처 */
blockquote { margin: 0; padding: 0; } /* 인용block */
sup { font-size: .92em; } /* 위첨자 */
sub { font-size: .92em; } /* 아래첨자 */
fieldset{ margin:0; padding:0; border:0 }
fieldset legend{text-indent:-2000px; height:0; margin:0; padding:0; font-size:0; line-height:0; overflow:hidden; }
hr{display:none;}	/* 수평선 - 레이아웃구분용 */
form, blockquote, dl, dt, dd { margin: 0; padding: 0; }
img, input.type-image { border: 0 none; }
optgroup label{ font-style:normal; font-weight:normal; }/* 셀렉트박스 그룹 */
ul, ol{margin:0; padding:0px; }
ul li{ list-style:none; margin:0; padding:0px; }
noscript{display:none}
iframe, frame{padding:0; margin:0; border:0 none; background:transparent; vertical-align: top;}


/*IE6 투명*/

.png24 {
	tmp:expression(setPng24(this));
}

/*INPUT*/
textarea {border:1px solid #e1e1e1; line-height:140%; width:98%; }
input, select, textarea { vertical-align: middle; font-size: 1em; color: #575757; padding:0px 2px;}
input.hidden{
	position:absolute;
	left:-5000px;
	top:-5000px;
}