


/* 버튼 */
ul.tab-a::after, div.tit-area-b::after, div.buttons::after, ul.tab-b::after {
    clear: both;
    content: " ";
    display: block;
}
a.btn-c {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
	height: 19px;
    line-height: 19px;
}
a.btn-a {
    display: inline-block;
    font-weight: bold;
    padding: 5px 17px;
}
a.btn-a-a {
    background: #2a73b7 ;
    border: 1px solid #1e5e99;
    color: #fff;
}
a.btn-a-b {
    color: #fff;
	font-weight: bold;
    padding: 26px 35px;
	display: block;
	background: url("../images/sub/pat_02.gif") repeat scroll 0 0;
}
a.btn-a-s {
	padding:2px 10px 0;
	height:21px;
}
a.btn-a-c {
    border: 1px solid #adadad;
}
a.btn-a-w {
    background: #8e8e8e;
    border: 1px solid #6e6e6e;
    color: #fff;
}
a.btn-b {
    display: inline-block;
    font-weight: bold;
    padding: 10px 2px;
	min-width:225px;
}
a.btn-b-a {
    background: #2a73b7 ;
    border: 1px solid #1e5e99;
    color: #fff;
}
a.btn-b-b {
    background: #f0f0f0 ;
    border: 1px solid #c5c5c5;

}
a.btn-icon {
    display: inline-block;
    font-weight: bold;
	color: #fff;
}
a.btn-icon-r {
	padding: 5px 25px 5px 17px ;
	background:#2a73b7  url("../images/common/arrow_right.gif") no-repeat scroll right 48%;
    border: 1px solid #1e5e99;
}
a.btn-icon-l {
    padding: 5px 17px 5px 25px;
	background:#8e8e8e  url("../images/common/arrow_left.gif") no-repeat scroll left 48%;
    border: 1px solid #6e6e6e;
}
input.btn-a {
    display: inline-block;
    font-weight: bold;
    padding: 2px 15px;
}


/* 팝업 디자인 ---------------------------------------------------- */

#popup_design{
	background:#fff;
	border: 2px solid #555555;
	position: absolute;
	z-index:20;
}
#popup_design .por_tit{
	background: url("../images/sub/pat_03.gif") repeat scroll 0 0;
    border-bottom: 1px solid #114c84;
	color: #fff;
	font-weight: 600;
    padding: 8px 15px;
}
#popup_design .por_con{
	background:#f6f6f6;
    border: 1px solid #c5c5c5;
	width: calc( 100% - 32px );
	height:202px;
	margin:15px;
	overflow: auto; 
}
#popup_design .contens_p{
	width: calc( 100% - 30px );
	margin:15px;
	overflow: auto; 
}

/* 설명 DIV ---------------------------------------------------- */
.not_txt{
	 border-bottom: 1px solid #d2d2d2;
	 padding-bottom:20px;
	 margin-bottom:20px;
}