
/* Tag Template */

/* 폰트크기
브라우저 기본크기 16px
16px * 75% = 12px
12px * 0.92em = 11px
12px * 1.17em = 14px
12px * 1.34em = 16px
*/
* {
    margin: 0;
    padding: 0;
}
img{
	vertical-align: top;
}
body {
	color: #444;
	font-size: 75%;
	font-family: "dotum", "gulim", sans-serif;
	width:100%;
}

table, pre {
	font-size: 1em;
	font-fami: "dotum", "gulim", sans-serif;

}
a, a:link {
	color: #575757;
	text-decoration: none;
	cursor: pointer;
}
a:visited, a:active, a:focus {
	color: #444;
}
a:hover {
	color: #000;
}
table, tr, td, div, span {
    word-break: break-all;
    word-wrap: break-word;
}

/* Tag문단(Paragraph) */
p{
	margin: 0;
	padding: 0;
}
/* 본문제목 */
h1, h2, h4, h4 {
	margin: 0;
	padding: 0;
}
h1 span, h2 span, h4 span, h4 span {
	color: #555;
	font-weight: normal;
	letter-spacing:0;
}
h2 {
	clear: left;
	padding: 0.15em 0 0.2em 0px;
	color: #000;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	line-height:140%;
}
h3 {
	clear: left;
	font-size: 1.2em;
	margin:0 0 0.5em;
	padding: 3px 0 0 20px;
	color: #333;
	font-weight: bold;
	text-align: left;
	letter-spacing: -0.1em;
}
h4 {
	clear: left;
	margin-bottom:1.2em;
/*	background: url(../images/title_bg.gif) repeat-x 0 0;  */
	color: #333;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	letter-spacing: -0.1em;
}

/* Tag목록(List) */
ol.decimal {
	padding: 5px 0 5px 0;
	margin-left:22px;
	text-align: left;
	line-height:140%;
}
ol.decimal li {
	margin: 0;
	padding:0 0 2px 0;
	list-style:decimal;
}

ul.con {
	padding: 5px 0 5px 0;
	text-align: left;
	line-height:140%;
}
ul.con li {
	margin: 0;
	padding: 0 0 8px 20px;
/* 	background: url(../images/common/bullet_list01.gif) no-repeat 0 28%; */
}
ul.con02 {
	padding:8px 0 0 0;
	line-height:140%;
	text-align: left;
}
ul.con02 li {
/* 	background: url(../images/common/bullet_list02.gif) no-repeat 0 0.4em; */
	padding: 0 0 4px 10px;
}
ul.con03 {
	padding:4px 0 0 0;
	line-height:140%;
	text-align: left;
}
ul.con03 li {
	background:none;
	padding: 0 0 3px 10px;
/* 	background: url(../images/common/bullet_list04.gif) no-repeat 0 0.4em; */
}
ul.con04 {
	padding:3px 0 0 0;
	line-height:140%;
	text-align: left;
}
ul.con04 li {
/* 	background: url(../images/common/bullet_list03.gif) no-repeat 0 0.5em; */
	padding: 0 0 4px 10px;
}
ul.con05 {
	padding:3px 0 0 0;
	line-height:140%;
	text-align: left;
}
ul.con05 li {
/* 	background: url(../images/common/bullet_list05.gif) no-repeat 0 0.6em; */
	padding: 0 0 4px 10px;
}
ul.con_none {
	padding:4px 0 0 0;
	line-height:140%;
	text-align: left;
}
ul.con_none li {
	padding: 0 0 3px 0;
	background-image:none;
}

/* 버튼 */
.btn_skyblue{
	color:#fff;
	text-align:center;
	border:1px solid #009596;
	background:#00bcbd;
}
.btn_gray{
	color:#fff;
	text-align:center;
	border:1px solid #7f7f7f;
	background:#9c9c9c;
}
.btn_gray a:link{
	color:#fff;
}


/* 탭메뉴 */
#cont_tabmenu{
	position:relative;
}
#cont_tabmenu ul {
	display:table;
	width:100%;
    border-bottom: 1px solid #545454;
	
}
#cont_tabmenu > ul > li {
    float: left;
	background-color: #838383;
    border-top: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #545454;
	margin: 0 2px 0 0;
	position: relative;
}
#cont_tabmenu > ul > li.on {
	background: url("../images/sub/pat_02.gif") repeat 0 0;
	font-size: 14px;
	border-top: 1px solid #2b6faf;
	border-left: 1px solid #2b6faf;
	border-right: 1px solid #2b6faf;
}
#cont_tabmenu ul li.on span {
/* 	background: url(../images/common/tab_on_bg02.gif) no-repeat 100% 100%; */
}
#cont_tabmenu > ul > li > a{
    padding: 8px 25px 0;
	color: #fff;
    font-weight: 600;
	height: 27px;
	display: block;
}
#cont_tabmenu > ul > li.on > a {
	color: #fff;
}

.title_ri{
    position: absolute;
	top:0;
	right:0;
}
.title_ri > p{
    float:left;
	padding:0 0 0 3px ;
}

/* 테이블 */
table.tstyle {
	border-collapse: collapse;
	width:100%;
	margin:0em 0 0.5em 0;
	border-top:2px solid #e71000;
}
table.tstyle caption {
	text-indent: -2000px;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}
table.tstyle caption.view{
	text-indent:0;
	margin:0;
	padding:0 0 4px;
	font-size: 1em;
	line-height:150%;
}
table.tstyle th, table.tstyle td {
	padding: 5px 2px 3px;
	line-height:140%;
}
table.tstyle th {
	background-color:#9b9b9b;
	font-weight: bold;
	color:#fff;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #828282;
}
table.tstyle td {
	background: #fff;
	border: 1px solid #cccccc;
}
table.tstyle tfoot td {
	background: #f8f8f8;
	font-weight: normal;
	vertical-align: middle;
	color:#444;
}
table.tstyle td.item {
	font-weight:bold;
	background: #f8f8f8;
	color:#444;
	text-align: center;
}
table.tstyle td.bg {
	background: #f8f8f8;
}
table.tstyle td input.box {
	border:1px solid #cdcdcd;
	background:#fff;
	height:16px;
	margin-bottom:2px;
	vertical-align:middle;
}

/* 테이블02 */
table.tstyle2 {
	border-collapse: collapse;
	width:100%;
	margin:0.3em 0 0.5em 0;
	border-top:2px solid #000;
}
table.tstyle2 caption {
	text-indent: -2000px;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}
table.tstyle2 caption.view{
	text-indent:0;
	margin:0;
	padding:0 0 4px;
	font-size: 1em;
	line-height:150%;
}
table.tstyle2 th, table.tstyle2 td {
	padding: 7px 3px 5px 3px;
	line-height:140%;
}
table.tstyle2 th {
	background-color:#9b9b9b;
	font-weight: bold;
	color:#fff;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #828282;
	border-left: 0px solid #828282;
	border-right: 0px solid #828282;
}
table.tstyle2 td {
	background: #fff;
	border-bottom: 1px solid #828282;
	border-left: 0px solid #828282;
	border-right: 0px solid #828282;
}
table.tstyle2 td.item {
	font-weight:bold;
	background: #f8f8f8;
	color:#444;
	text-align: center;
}
table.tstyle2 td.bg {
	background: #f8f8f8;
}



/* 박스 */
#txt_box {
/* 	background: url(../images/common/outline_top.gif) no-repeat left top; */
	margin:-18px 0 1.5em;
	padding:38px 0 0;
	text-align:left;
	width:100%;
}
#txt_box_wrapper {
/* 	background: url(../images/common/outline_bottom.gif) no-repeat left bottom; */
	display:table;
	table-layout:fixed;
	padding:0 30px 15px ;
	margin:0;
	width:585px;
}
#txt_box_wrapper div.pad{
	padding:5px  0 15px;
	line-height:150%;
	letter-spacing:-0.05em;
}

/* cursor:pointer */
.hand_shape{cursor:pointer;}

/* dispaly */
.disblock {display:block;}
.disnone {display:none;}
.hidden{
	border: medium none !important;
	display: block !important;
	height: 1px !important;
	left: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	top: 0 !important;
	width: 1px !important;
}

/* float */
.fl{ float:left; }
.fr{ float:right; }
.clear{ clear:both; }

/* Align */
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

/* vertical align */
.vat { vertical-align:top; }
.vam { vertical-align:middle; }
.vab { vertical-align:bottom; }

/* font size */
.fs0	{ font-size:0; }
.fs10 { font-size:10px; }
.fs11 { font-size:0.92em; }
.fs12 { font-size:1em; }
.fs14 { font-size:1.17em; }
.fs16 { font-size:16px; }
.fn { font-weight:normal; }

/* color */
.orange {color:#f96f00;}
.black {color:#000;}
.dark_gray {color:#333;}
.blue {color:#0773c7;}
.txt_point {color:#1292ad;}
.green {color:#238900;}
.lbrown {color: #db6a0a;}
.red {color: red;}
.white {color: #fff;}

/* text_style */
.fb { font-weight:bold;}
.fn { font-weight:normal; }

/*letter-spacing*/
.ls0{letter-spacing:normal;}
.ls1{letter-spacing:-0.07em;}
.ls2{letter-spacing:-0.1em;}
.ls3{letter-spacing:-0.15em;}

/*line-height*/
.lh110{line-height:110%;}
.lh130{line-height:130%;}
.lh140{line-height:140%;}
.lh150{line-height:150%;}
.lh160{line-height:160%;}

/* padding */
.pdt05{padding-top:5px;}
.pdt10{padding-top:10px;}
.pdt15{padding-top:15px;}
.pdt20{padding-top:20px;}
.pdt25{padding-top:25px;}
.pdt30{padding-top:30px;}
.pdt35{padding-top:35px;}
.pdt40{padding-top:40px;}
.pdt45{padding-top:45px;}
.pdb15{padding-bottom:15px;}

.lpad01 {margin-left:15px; /* h2의 리스트일 경우 */}
.lpad02 {margin-left:16px; /* h4의 리스트일 경우 */}
.lpad03 {margin-left:31px; /* h2 > h4의 리스트일 경우 */}

/* 상단여백이 필요할때 */
.tmg {margin-top:1.5em;}
.tmg2 {margin-top:2em;}
.tmg3 {margin-top:3em;}
.tmg4 {margin-top:4em;}
.tmg03 {margin-top:0.3em;}
.tmg05 {margin-top:0.5em;}

/* 하단여백이 필요할때 */
.bmg {margin-bottom:0.5em;}
.bmg2 {margin-bottom:1em;}
.bmg3 {margin-bottom:1.5em;}
.bmg4 {margin-bottom:2em;}


/* 가로 넓이*/
.w2{width:20px;}
.w5{width:50px;}
.w8{width:80px;}
.w10{width:100px;}
.w15{width:150px;}
.w20{width:200px;}
.w25{width:250px;}
.w30{width:300px;}
.w40{width:400px;}
.w50{width:500px;}

/* border */
.nbd{border:0}


