<?xml version="1.0" encoding="UTF-8"?>
<web-app id="hsco_app" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>hsco</display-name>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
<!-- 	<filter> -->
<!--         <filter-name>jetty-gzip</filter-name> -->
<!--         <filter-class>org.mortbay.servlet.GzipFilter</filter-class> -->
<!--     </filter> -->
  
<!--     <filter-mapping> -->
<!--         <filter-name>jetty-gzip</filter-name> -->
<!--         <url-pattern>/*</url-pattern> -->
<!--     </filter-mapping> -->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!--  ClipReport4 start -->
	<listener>
    	<listener-class>com.clipsoft.clipreport.server.service.listener.ReportSessionListener</listener-class>
  	</listener>
	<!--  ClipReport4 end -->
	
<!--     <listener> -->
<!--         <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> -->
<!--     </listener> -->
    
    
    
    
<!-- 	<listener> -->
<!--         <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class> -->
<!--     </listener> -->

<!--     <filter> -->
<!--         <filter-name>springSecurityFilterChain</filter-name> -->
<!--         <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--     </filter>   -->
<!--     <filter-mapping> -->
<!--         <filter-name>springSecurityFilterChain</filter-name> -->
<!--         <url-pattern>/*</url-pattern> -->
<!--     </filter-mapping> -->



	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
				classpath*:hsco/spring/context-*.xml
		</param-value>
<!-- 		<param-value> -->
<!-- 				classpath*:hsco/spring/context-*.xml, /WEB-INF/config/spring/security-context.xml -->
<!-- 		</param-value> -->
	</context-param>

	
	<!-- Jeus datasource setting start -->

    <resource-ref>
      <res-ref-name>jdbc/hscos</res-ref-name>  
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>
    
    <resource-ref>
      <res-ref-name>jdbc/hpg</res-ref-name>  
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>
    
    <resource-ref>
      <res-ref-name>jdbc/batch</res-ref-name>  
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Jeus datasource setting end -->
    
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/hsco/springmvc/dispatcher-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- tmax eam agent Start -->
	<!-- 
	  <filter>
	  <filter-name>tmaxeam_agent</filter-name>
	  <filter-class>com.tmax.sso.agent.EAMFilter</filter-class>
	  <init-param>
	   <param-name>com.tmax.eam.filter.reload</param-name>
	   <param-value>false</param-value>
	  </init-param>

	  <init-param>
	   <param-name>com.tmax.sso.filter.config.path</param-name>
	   <param-value>/app_home/hsco/WEB-INF/config</param-value>
	  </init-param>
	  
	  <init-param>
	   <param-name>com.tmax.sso.filter.includepattern</param-name>
	   <param-value>^(/.*\.|/).*$</param-value>
	  </init-param>
	  <init-param> <param-name>com.tmax.sso.filter.includepattern.ext</param-name> 
	   <param-value>(^(/__tmax_eam_|/__tmax_sso_).*$)|(^.*\.(jsp|html|htm|xhtml|action).*$)</param-value> 
	   </init-param>
	  <init-param>
	   <param-name>com.tmax.sso.filter.excludepattern</param-name>
	   <param-value>^/|^(/index.jsp|/web/hsco/nonsso.jsp|/loginCheck.do|/hsco/cmm/author/controller/AuthorController/getAuthBtnList.do|^.*\.do$|/__tmax_eam_|/__tmax_sso_).*$</param-value>
	  </init-param>
	  <init-param>
	   <param-name>com.tmax.sso.filter.excludepattern.ext</param-name>
	   <param-value>^.*\.(css|js|jpg|jpeg|gif|png|eot|bmp|rle|psd|pdd|tif|pdf|raw|ai|eps|svg|log|cvs|xls|xlsx|ppt|pptx|doc|docx|hwp|iff|fpx|frm|pcx|pct|pic|ico|pxr|sct|tga|vda|icb|vst|ttf|otf|woff|hft|fon|eml|ini|inc|fla|swf|avi|mp3|mpeg3|mp4|mpeg4|mov|wma|asf)$</param-value>
	  </init-param>
	  <init-param>
	   <param-name>com.tmax.sso.filter.target</param-name>
	   <param-value>/*;</param-value>
	  </init-param>
	 </filter>
	 
	   -->
	
	 <!-- this is not identifed.and this is not defined. it has commented by admiministrator -->
	 <!-- 
     <filter-mapping>
	  <filter-name>tmaxeam_agent</filter-name>
	  <url-pattern>/*</url-pattern>
	 </filter-mapping>
	 
	 -->
	 <!-- tmax eam agent End  -->

	 <!-- tmax eam api Start -->
	  <!-- 
	 <servlet>
	  <servlet-name>tmaxeam_apiconfig</servlet-name>
	  <servlet-class>com.tmax.sso.agent.AgentConfigServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	  <servlet-name>tmaxeam_apiconfig</servlet-name>
	  <url-pattern>/__tmax_eam_api_config__</url-pattern>
	 </servlet-mapping>
	  -->
	 <!-- tmax eam api End -->
	 
 <!-- excelExport import -->
	<servlet>
        <servlet-name>XExportImport</servlet-name>
        <servlet-class>com.nexacro.xeni.services.GridExportImportServlet</servlet-class>
    </servlet>	
	<servlet>
        <servlet-name>XImport</servlet-name>
        <servlet-class>com.nexacro.xeni.services.GridExportImportServlet</servlet-class>
    </servlet>	
	
    <servlet-mapping>
        <servlet-name>XExportImport</servlet-name>
        <url-pattern>/XExportImport.do</url-pattern>
    </servlet-mapping>	
    <servlet-mapping>
        <servlet-name>XImport</servlet-name>
        <url-pattern>/XImport.do</url-pattern>
    </servlet-mapping>	
    <context-param>
    	<param-name>export-path</param-name>
    	<param-value>/export</param-value>
    </context-param>	

    <context-param>
    	<param-name>import-path</param-name>
    	<param-value>/import</param-value>
    </context-param>	

    <context-param>
    	<param-name>monitor-enabled</param-name>
    	<param-value>true</param-value>
    </context-param>    

    <context-param>
    	<param-name>monitor-cycle-time</param-name>
    	<param-value>30</param-value>
    </context-param>	

    <context-param>
    	<param-name>file-storage-time</param-name>
    	<param-value>10</param-value>
    </context-param>
    
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
	
<!-- excelExport import end -->

<!-- UbiReport Start -->
	<servlet>
		<servlet-name>UbiForm</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UbiData</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UbiAdmin</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiAdmin</servlet-class>
	</servlet>
	<!-- Servlet for UbiDaemon -->
	<servlet>
		<servlet-name>UbiGateway</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiGateway</servlet-class>
	</servlet>
	<!-- Servlet for DRM -->
	<servlet>
		<servlet-name>UbiServer</servlet-name>
		<servlet-class>com.ubidcs.report.gateway.UbiServer</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UbiForm</servlet-name>
		<url-pattern>/UbiForm.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>UbiData</servlet-name>
		<url-pattern>/UbiData.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>UbiAdmin</servlet-name>
		<url-pattern>/UbiAdmin.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>UbiGateway</servlet-name>
		<url-pattern>/UbiGateway.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UbiServer</servlet-name>
		<url-pattern>/UbiServer.do</url-pattern>
	</servlet-mapping>	
<!-- UbiReport End -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>
</web-app>
